@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(27, 66%, 92%);
}

main {
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-heading {
    background-color: hsl(10, 86%, 62%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding:20px;
    border-radius: 25px;
}

.card-heading .left-side {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-heading .left-side h1, .footer .left-side h1, .footer .right-side h2{
    font-weight: 300;
    font-size: 17px;
}

.circles {
    height: 35px;
    width: auto;
}

.card-body {
    background-color: white;
    padding: 30px 25px;
    border-radius: 20px;
}

.card-body > h1 {
    color: hsl(25, 47%, 15%);
    font-size: 25px;
    font-weight: bolder;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 15px;
    padding-bottom:15px;
}

.footer {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .left-side h2, .footer .right-side h1 {
    color: hsl(25, 47%, 15%);
}

.footer .left-side h2 {
    font-size: 35px;
    font-weight: bolder;
}

.footer .left-side h2 {
    font-size: 30px;
    font-weight: bolder;
}

.footer .right-side h1 {
    font-size: 20px;
}

.bar {
    height:200px;
    width: 31px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
}

.chart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.chart-item.wed .bar {
    background-color: hsl(186, 34%, 60%);
}

.price-card {
    background-color: hsl(25, 47%, 15%);
    border-radius: 3px;
    color: white;
    padding:4px 5px;
    font-size: 10px;
}

.day, .footer .right-side h2, .footer .left-side h1 {
    color: gray;
    font-weight: 400;
    font-size: 15px;
}

@media screen and (min-width:385px) {
    main {
        width: 100%;
    }

    .card-container {
        width:360px;
    }

    .bar {
        width: 32.5px;
    }
}
